{{! We need to automate this somehow, these are all snippets from the json example}}

{{!block.markup.example}}
{{! BEGIN-SNIPPET alert-states }} {{!block.section , lowercase hyphenated for name field}}
<div class="alert alert-success">Your action was successful!</div>
<div class="alert alert-warning">Your action was unsuccessful. Our warnings also purposefully have left-aligned text.</div>
<div class="alert alert-error">Something went wrong, please reload.</div>
{{! END-SNIPPET }}

{{!block.markup.example}}
{{! BEGIN-SNIPPET alert-utilities }} {{!block.section , lowercase hyphenated for name field}}
<div class="alert alert-success alert-dismissable">
  <a href="#" class="alert-close">&times;</a>
  This alert is dismissable.
</div>
{{! END-SNIPPET }}
